
.box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 200px;

}
.box1{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 8px ;
}
.box2{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    flex-direction: row;
}